<html style="height: 100%;">
  <head>
    <style>
      html, body {
        height: 100%;
        margin: 0 0 0 0;
      }
    </style>
    <title>Factorio Base</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css" />
  </head>

  <body>
    <div id="map" style="width: 100%; height: 100%;"></div>
    <script src="node_modules/leaflet/dist/leaflet.js"></script>
    <script>
      const foundLayers = '<%= myLayers %>'.split(',');
      const prefix = 'map_';
      var tileUrl = 'Layers/{id}/{z}/{x}/{y}.jpg';

      var layers = {};
      //This should be the list of names, sans the chosen prefix.
      var names =foundLayers.map( (name) => name.replace(prefix, ''));

      names.sort( (a,b) => {
        const splitA = a.split('_');
        const splitB = b.split('_');

        const dateA = new Date(`${splitA[1]} ${splitA[0]}, ${splitA[2]}`);
        const dateB = new Date(`${splitB[1]} ${splitB[0]}, ${splitB[2]}`);

        return dateA === dateB ? splitA[3] - splitB[3] : dateA - dateB;
      });

      for (i = 0; i < names.length; i++) {
        var name = names[i];
        layers[name] = L.tileLayer(tileUrl, {
          //Update this this with the appropriate prefix
          id: 'map_' + name,
          minZoom: 1,
          maxZoom: 11,
          errorTileUrl: 'images/empty.png',
        });
      }

      var map = L.map('map', {
        layers: [layers[names[0]]],
        fadeAnimation: false,
      });

      L.control.layers(layers, {}, {collapsed: false}).addTo(map);

      map.fitBounds([
        [1.45004, -4.41101],
        [-3.57921, 4.16931]]);
    </script>
  </body>
</html>
